@{
    ViewData["Title"] = "Home Page";
}

<div class="containerin2">

    <h1 class="intro">Seja Bem-Vindo(a) ao DBMáquinas</h1>

    <h4 class="inicio">

        Explore uma ampla variedade de máquinas modernas, cadastre-se como cliente para uma experiência personalizada 
        e gerencie seu inventário de forma eficiente. Com cadastros simples para clientes, máquinas e inventário, 
        oferecemos uma plataforma intuitiva e transparente. Conte com nossa equipe para uma experiência de compra segura e satisfatória.
        Seja bem-vindo ao futuro da indústria de máquinas!

    </h4>

</div>