@model dbMaquinas.Models.CadClientes

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="rosa principal">Detalhes</h1>

<h4 class="rosa principal2">Cadastro de Clientes</h4>

<hr class="rosa"/>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            <label>Nome do Cliente</label>
            @* @Html.DisplayNameFor(model => model.NomeCliente) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
    </dl>
</div>

<p></p>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDCliente" class="btn btn-outline-danger">Editar</a>

    <p></p>

    <a asp-action="Index" class="btn btn-danger">voltar</a>
</div>
